<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ufp.bodyhealth">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_body_health"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_body_health_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BodyHealth">
        <activity
            android:name=".MeasuresDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".MeasuresCheckupActivity"
            android:exported="false" />
        <activity
            android:name=".MeasuresRegisterActivity"
            android:exported="false" />
        <activity
            android:name=".DiabetesDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".DiabetesCheckupActivity"
            android:exported="false" />
        <activity
            android:name=".DiabetesRegisterActivity"
            android:exported="false" />
        <activity
            android:name=".BloodPressureDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".BloodPressureCheckupActivity"
            android:exported="false" />
        <activity
            android:name=".BloodPressureRegisterActivity"
            android:exported="false" />
        <activity
            android:name=".WelcomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>